
.video {
	width: 500;
	height: 400;

}
h1 {
	color: red;
	  font-size: 1.8em;
	  font-weight: bolder; 
  
  }

p {
	color: red;
	  font-size: 1.3em;
	  font-weight: normal; 
	  justify-content: center;
  
  }