@media screen and (width>1200px) {
	.homer {background-image: image("C:\Users\saola\OneDrive\Desktop\CS 120\labs\cs120-pluong\responsive\homer.jpg#xywh=percent: 0, 0, 50, 25");
	background-repeat: no-repeat;}
	
}

@media screen and (width>1100px) and (width <=1200px) {
	.homer {background-image: image("C:\Users\saola\OneDrive\Desktop\CS 120\labs\cs120-pluong\responsive\homer.jpg#xywh=percent: 50, 0, 50, 25");
		background-repeat: no-repeat;}
}

@media screen and (width>1000px) and (width <=1100px) {
	.homer {background-image: image("C:\Users\saola\OneDrive\Desktop\CS 120\labs\cs120-pluong\responsive\homer.jpg#xywh=percent: 0, 25, 50, 25");
		background-repeat: no-repeat;}
}

@media screen and (width>900px) and (width <=1000px) {
	.homer {background-image: image("C:\Users\saola\OneDrive\Desktop\CS 120\labs\cs120-pluong\responsive\homer.jpg#xywh=percent: 50, 25, 50, 25");
		background-repeat: no-repeat;}
}

@media screen and (width>800px) and (width <=900px) {
	.homer {background-image: image("C:\Users\saola\OneDrive\Desktop\CS 120\labs\cs120-pluong\responsive\homer.jpg#xywh=percent: 0, 75, 50, 25");
		background-repeat: no-repeat;}
}

@media screen and (width>700px) and (width <=800px) {
	.homer {background-image: image("C:\Users\saola\OneDrive\Desktop\CS 120\labs\cs120-pluong\responsive\homer.jpg#xywh=percent: 50, 75, 50, 25");
		background-repeat: no-repeat;}
}

@media screen and (width>600px) and (width <=700px) {
	.homer {background-image: image("C:\Users\saola\OneDrive\Desktop\CS 120\labs\cs120-pluong\responsive\homer.jpg#xywh=percent: 0, 100, 50, 25");
		background-repeat: no-repeat;}
}

@media screen and (width <=600px) {
	.homer {background-image: image("C:\Users\saola\OneDrive\Desktop\CS 120\labs\cs120-pluong\responsive\homer.jpg#xywh=percent: 50, 100, 50, 25");
		background-repeat: no-repeat;}
}